[project]
name = "rattler-build-conda-compat"
version = "0.2.4"
description = "A package for exposing rattler-build API for conda-smithy"
authors = ["nichmor <nmorkotilo@gmail.com>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[tasks]
build_sdist = "pixi run python -m build --sdist"

[dependencies]
python = ">=3.8"
build = ">=0.7.0,<0.8"
rattler-build = ">=0.18.1,<1"
conda-build = ">=24.3.0,<25.0"
"ruamel.yaml" = ">=0.18.6,<0.19"
conda = ">=4.2"
pygithub = ">=2,<3"
tomli = ">=2.0.1,<3"
typing-extensions = ">=4.12.2,<4.13"

[pypi-dependencies]
rattler-build-conda-compat = { path = ".", editable = true }

[feature.tests.dependencies]
pytest = ">=8.2.2,<9"
syrupy = ">=4.6.1,<5"

[feature.tests.tasks]
tests = "pytest tests"
snapshot_update = "pytest --snapshot-update tests"

[feature.lint.dependencies]
pre-commit = ">=3.7.1,<4"
pre-commit-hooks = ">=4.6.0,<5"
typos = ">=1.23.1,<2"
mypy = ">=1.10.1,<2"
types-pyyaml = ">=6.0.12.20240311,<6.0.13"
ruff = ">=0.5.0,<0.6"

[feature.lint.tasks]
pre-commit-install = "pre-commit-install"
pre-commit-run = "pre-commit run"
type-check = "mypy src"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py39.dependencies]
python = "3.9.*"

[feature.py38.dependencies]
python = "3.8.*"

[environments]
py312 = { features = ["py312", "tests"] }
py311 = ["py311", "tests"]
py310 = ["py310", "tests"]
py39 = ["py39", "tests"]
py38 = ["py38", "tests"]
lint = { features = ["lint"], no-default-feature = true }
